@import "tailwindcss";
@import "@nuxt/ui";
@import "./component/scrollbar";

@theme {
  --font-header: 'Plus Jakarta Sans', sans-serif;
  --font-sans: 'Inter', sans-serif;
}

* { scroll-behavior: smooth; }

::selection { @apply bg-primary-100 text-primary-700; }

html, body {
  @apply w-dvw bg-neutral-200 overflow-x-hidden font-normal text-neutral-800 duration-300 dark:bg-neutral-950 dark:text-neutral-100;
  overflow-wrap: anywhere;
  font-size: 16px;
  line-height: 1.5;
}
body { @apply min-h-dvh; }

.content-space { @apply w-full mx-auto lg:max-w-md }

.min-h-screen-main { @apply min-h-dvh pb-8; }
 
.layout-enter-active,
.layout-leave-active {
  transition: .3s;
}
.layout-enter,
.layout-leave-active {
  transform: translateY(15px);
  opacity: 0;
}
 
.page-enter-active,
.page-leave-active {
  transition: .3s;
}
.page-enter,
.page-leave-active {
  transform: translateY(15px);
  opacity: 0;
}

.font-header {
  font-optical-sizing: auto;
  font-weight: 600;
}
